@using ToDoBackend;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @{

        foreach (var todo in ViewData["ToDos"] as IEnumerable<ToDo>)
        {
            <p>@todo.Title</p>
        }

   }
</div>
